/**
 * 楷書のフォント
 * 見やすい
 */
@font-face {
    font-family: 'kaisyo';
    src: url('../fonts/hkkaing.ttf');
}

/**
 * 行書のフォント
 * かっこいい
 */
 @font-face {
    font-family: 'gyosyo';
    src: url('../fonts/hkgyong.ttf');
}

/**
 * 草書のフォント
 * すごい
 */
 @font-face {
    font-family: 'sosyo';
    src: url('../fonts/hksoung.ttf');
}

/**
 * 草書のフォント
 * すごい
 */
 @font-face {
    font-family: 'soseki';
    src: url('../fonts/soseki.ttf');
}

/**
 * タイトルのフォントスタイル
 */
.title-text {
    font-family: 'soseki';
    font-size: 5.0rem;
    font-weight: 900;
    line-height: 1.9;
    margin-top:20px;
    text-align: center;
}

.title-text::before {
    content: '';
    display: inline-block;
    position: relative;
    height: 150px;
    width: 100px;
    background-image: url('../images/kadomatu.png');
    background-size: contain;
    vertical-align: middle;
}

.title-text::after {
    content: '';
    display: inline-block;
    position: relative;
    height: 150px;
    width: 100px;
    background-image: url('../images/kadomatu.png');
    background-size: contain;
    vertical-align: middle;
}

/**
 * トップ画像のスタイル
 */
.top-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: 0% 0%;
}

/**
 * でっかい画面
 */
@media only screen and (min-width: 1000px) {
    .top-image {
        width: 100%;
        height: 300px;
        object-fit: cover;
        object-position: 0% 0%;
    }
}

/**
 * 説明欄のスタイル
 */
.description-area {
    margin-right: 30%;
}

/**
 * 詳細のスタイル
 */
.description {
    font-family: 'soseki';
    font-size: 3em;
    font-weight: 600;
    line-height: 1.9;
    height: 700px;
    width: 100%;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
}

/**
 * 境界線
 */
.line-bokuju {
    border: 0;
    height: 80px;
    background: url('../images/bokuju_line.png') no-repeat top center;
    margin: 80px 0px 80px 0px;
}

/**
 * 参加ボタンエリア
 */
.sign-in-button-block {
    text-align: center;
    margin: 80px 0px 80px 0px;
}

/**
 * 参加ボタン説明
 */
.sign-in-description {
    font-family: 'soseki';
    font-size: 2.5em;
}

/**
 * 参加ボタン
 */
.sign-in-button {
    font-family: 'soseki';
    font-size: 3em;
}
